
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(EmptyLayout)">
            <link rel="stylesheet" href="/css/404page.css" />
            <div class="container">
                <div class="error">
                    <p class="p">4</p>
                    <div class="dracula">
                        <div class="con">
                            <div class="hair"></div>
                            <div class="hair-r"></div>
                            <div class="head"></div>
                            <div class="eye"></div>
                            <div class="eye eye-r"></div>
                            <div class="mouth"></div>
                            <div class="blod"></div>
                            <div class="blod blod2"></div>
                        </div>
                    </div>
                    <p class="p">4</p>

                    <div class="page-ms">
                        <p class="page-msg"> Oops, the page you're looking for Disappeared </p>
                        <button class="go-back"><NavLink href="/" class="back">Go Back</NavLink></button>
                    </div>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>
