<div class="container-fluid bg-light footer">
    <div class="row text-center">
        <div class="col-md-12">
            <p>Created by Andrew Fentisov</p>
            <p class="lead">Powered by Blazor. &copy; 2020 LeafLife. All rights reserved.</p>
        </div>
    </div>
</div>
