    <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
        <a class="navbar-brand logo" href="#">
            <img src="images/logo.PNG" width="40" height="40" />
            <span class="font-weight-bolder">LeafLife</span>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mr-auto">
                <li>
                    <NavLink href="#" class="nav-link">Article</NavLink>
                </li>
                <li>
                    <NavLink href="#" class="nav-link">Plants dictionary</NavLink>
                </li>
                <li>
                    <NavLink href="plants" class="nav-link">Own Plants</NavLink>
                </li>
            </ul>


            <ul class="navbar-nav col-auto">
                <li>
                    <NavLink href="registration" class="nav-link">Sign Up</NavLink>
                </li>
                <li>
                    <NavLink href="login" class="nav-link">Log in</NavLink>
                </li>
            </ul>
        </div>
    </nav>

