@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

.logo {
    font-family: 'Lobster Two', cursive;
    font-size: 1.25em;
}

.nav-link {
    font-family: 'Acme', sans-serif;
    font-size: 1.25em !important;
}

.navbar {
    padding: .6rem;
}

.navbar-nav li {
    padding-right: 10px;
}

.footer {
    padding-top: 0.65rem;
}
